:root {
  --bg-color: #FBF8CC;
  --text-color: #111827;
  --accent-blue: #00237D;
  --accent-yellow: #FFD84D;
  --dark-blue:#03045E;
  --dark-brown:#474306;
}
body{
  background-color: var(--bg-color);
  overflow-x: hidden;
}
*{
  color: var(--dark-blue);
}
.App {
  width: 100wh;
  height: 100%;
}
a{
  text-decoration: none;
}
/* Header Part */
.Header{
  color: var(--dark-blue);
  width: 90%;
  font-weight: bold;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.Header a{
  color: black;  
  transition: color 0.3s;
}
.Header a:hover{
  color:var(--dark-blue); 
}
.Header ul{
  width:60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
.Header ul li{
  flex-wrap: wrap;
}
.Header ul li,.Header h1{
  transition: 0.5s;
}
.Header ul li:hover,.Header h1:hover{
  scale: 1.1;
}

/* Home Part */

.hero{
  margin: 20px 0;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.InfoText {
  flex-shrink: 1;
  width: 310px;
}
.InfoText h1{
  font-size: 60px;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.img-box{
  max-width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 20%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Resume{
  width: 75.42px;
  border-radius: 10px;
  height: 41.1px;
  background-color: #ffd84da5;
} 


.Resume-button:hover .Resume-box , .Resume-box:hover{
  cursor: pointer;
  left: 0;
  top: 0;

} 
.Resume-button{
  position: relative;
  max-width: fit-content;
}
.Resume-box{
  position: absolute;
  left: -10px;
  top: -10px;
  padding: 9px; 
  border-radius: 10px;
  color: var(--dark-brown);
  max-width: fit-content;
  border: var(--dark-brown) 2px solid;
  z-index: 3;
  transition: 0.5s;
}

/*/////////// About Part ///////////////*/
/*/////////////////////////////////////*/
/*////////////////////////////////////*/
.about,.work{
  width: 95%;
  margin: auto;
  padding-left: 30px;
}
.title{
  color: var(--accent-yellow) !important;
  font-size: 40px;
  text-align: left !important;
}

/*/////////// Work Part ///////////////*/
/*/////////////////////////////////////*/
/*////////////////////////////////////*/

.contact a {
  color: #00237D; /* your blue accent */
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact a:hover {
  text-decoration: underline;
}
.contact {
  background-color: var(--accent-yellow);
  color: white;
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}
.contact-list{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.projects{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.project{
  /* background-color: rgba(255, 251, 0, 0.271); */
  padding: 5px;
  border-radius: 20px;
  max-width: 400px;
 }


@media( max-width:580px){
  .project{
    width: 100%;
    flex-direction: column;
  }
  .hero{
    flex-direction:column-reverse;
  }
  
  .Header ul{
    display: block;
  }
  .Header ul li{
    text-align: right;
  }

}
@media(max-width:1335px) and (min-width:581px){
  .projects{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
}
@media(max-width:1787px) and (min-width:1336px){
  .projects{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

